  button {
    padding: 10px 20px;
    border: none;
    background-color: #417154;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #417154d5;
  }
  
  :root { 
    --icon-selected: #417154; 
    --icon-normal: #000000; 
  }